openapi: '3.1.0'
info:
  title: ARPAE Italy Weather Forecast API
  description: >-
    Hourly weather forecast from ARPAE COSMO models covering Italy and surrounding regions.
  version: '1.0'
  contact:
    name: Open-Meteo
    url: https://open-meteo.com
    email: info@open-meteo.com
  license:
    name: Attribution 4.0 International (CC BY 4.0)
    url: https://creativecommons.org/licenses/by/4.0/
  termsOfService: https://open-meteo.com/en/features#terms
paths:
  /v1/arpae:
    servers:
      - url: https://api.open-meteo.com
    get:
      tags:
        - Weather Forecast APIs
      summary: ARPAE Italy Weather Forecast API
      description: >-
        Hourly weather forecast from ARPAE COSMO models covering Italy and surrounding regions.
      parameters:
        - name: latitude
          in: query
          required: true
          description: >-
            Geographical WGS84 coordinates. Multiple coordinates can be comma separated.
          schema:
            type: string
        - name: longitude
          in: query
          required: true
          schema:
            type: string
        - name: hourly
          in: query
          description: >-
            A list of weather variables which should be returned.
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - temperature_2m
                - relative_humidity_2m
                - dew_point_2m
                - apparent_temperature
                - precipitation
                - rain
                - showers
                - snowfall
                - snow_depth
                - weather_code
                - pressure_msl
                - surface_pressure
                - cloud_cover
                - cloud_cover_low
                - cloud_cover_mid
                - cloud_cover_high
                - visibility
                - evapotranspiration
                - et0_fao_evapotranspiration
                - vapour_pressure_deficit
                - wind_speed_10m
                - wind_direction_10m
                - wind_gusts_10m
                - soil_temperature_0cm
                - soil_temperature_6cm
                - soil_temperature_18cm
                - soil_temperature_54cm
                - soil_temperature_162cm
                - soil_temperature_486cm
                - soil_temperature_1458cm
                - soil_moisture_0_to_1cm
                - soil_moisture_1_to_3cm
                - soil_moisture_3_to_9cm
                - soil_moisture_9_to_27cm
                - soil_moisture_27_to_81cm
                - soil_moisture_81_to_243cm
                - soil_moisture_243_to_729cm
                - soil_moisture_729_to_2187cm
                - is_day
                - lightning_potential
                - wet_bulb_temperature_2m
                - convective_inhibition
                - cape
                - freezing_level_height
                - snowfall_height
                - sunshine_duration
                - total_column_integrated_water_vapour
                - shortwave_radiation
                - direct_radiation
                - diffuse_radiation
                - direct_normal_irradiance
                - global_tilted_irradiance
                - terrestrial_radiation
                - shortwave_radiation_instant
                - direct_radiation_instant
                - diffuse_radiation_instant
                - direct_normal_irradiance_instant
                - global_tilted_irradiance_instant
                - terrestrial_radiation_instant
                - temperature_1000hPa
                - temperature_925hPa
                - temperature_850hPa
                - temperature_700hPa
                - temperature_500hPa
                - temperature_250hPa
                - relative_humidity_1000hPa
                - relative_humidity_925hPa
                - relative_humidity_850hPa
                - relative_humidity_700hPa
                - relative_humidity_500hPa
                - relative_humidity_250hPa
                - cloud_cover_1000hPa
                - cloud_cover_925hPa
                - cloud_cover_850hPa
                - cloud_cover_700hPa
                - cloud_cover_500hPa
                - cloud_cover_250hPa
                - wind_speed_1000hPa
                - wind_speed_925hPa
                - wind_speed_850hPa
                - wind_speed_700hPa
                - wind_speed_500hPa
                - wind_speed_250hPa
                - wind_direction_1000hPa
                - wind_direction_925hPa
                - wind_direction_850hPa
                - wind_direction_700hPa
                - wind_direction_500hPa
                - wind_direction_250hPa
                - vertical_velocity_1000hPa
                - vertical_velocity_925hPa
                - vertical_velocity_850hPa
                - vertical_velocity_700hPa
                - vertical_velocity_500hPa
                - vertical_velocity_250hPa
                - geopotential_height_1000hPa
                - geopotential_height_925hPa
                - geopotential_height_850hPa
                - geopotential_height_700hPa
                - geopotential_height_500hPa
                - geopotential_height_250hPa
        - name: daily
          in: query
          description: >-
            A list of daily weather variable aggregations.
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - weather_code
                - temperature_2m_max
                - temperature_2m_min
                - apparent_temperature_max
                - apparent_temperature_min
                - sunrise
                - sunset
                - daylight_duration
                - sunshine_duration
                - rain_sum
                - showers_sum
                - snowfall_sum
                - precipitation_sum
                - precipitation_hours
                - precipitation_probability_max
                - wind_speed_10m_max
                - wind_gusts_10m_max
                - wind_direction_10m_dominant
                - shortwave_radiation_sum
                - et0_fao_evapotranspiration
        - name: current
          in: query
          description: >-
            A list of variables to return for the current conditions.
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - temperature_2m
                - relative_humidity_2m
                - apparent_temperature
                - is_day
                - precipitation
                - rain
                - showers
                - snowfall
                - weather_code
                - cloud_cover
                - pressure_msl
                - surface_pressure
                - wind_speed_10m
                - wind_direction_10m
                - wind_gusts_10m
        - name: elevation
          in: query
          schema:
            type: number
            format: float
        - name: temperature_unit
          in: query
          schema:
            type: string
            default: celsius
            enum: [celsius, fahrenheit]
        - name: wind_speed_unit
          in: query
          schema:
            type: string
            default: kmh
            enum: [kmh, ms, mph, kn]
        - name: precipitation_unit
          in: query
          schema:
            type: string
            default: mm
            enum: [mm, inch]
        - name: timeformat
          in: query
          description: >-
            If format unixtime is selected, all time values are returned in UNIX epoch time.
          schema:
            type: string
            default: iso8601
            enum: [iso8601, unixtime]
        - name: timezone
          in: query
          description: >-
            Any IANA time zone name is supported. Use auto to resolve the local time zone.
          schema:
            type: string
        - name: past_days
          in: query
          description: >-
            Return past days of data.
          schema:
            type: integer
            default: 0
            minimum: 0
            maximum: 92
        - name: forecast_days
          in: query
          description: >-
            Number of forecast days.
          schema:
            type: integer
            default: 7
            minimum: 0
            maximum: 16
        - name: past_hours
          in: query
          schema:
            type: integer
        - name: forecast_hours
          in: query
          schema:
            type: integer
        - name: start_date
          in: query
          description: >-
            Start date of the time interval in ISO 8601 format.
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          description: >-
            End date of the time interval in ISO 8601 format.
          schema:
            type: string
            format: date
        - name: tilt
          in: query
          description: >-
            Slope tilt in degrees for global_tilted_irradiance calculation.
          schema:
            type: number
            format: float
            default: 0
        - name: azimuth
          in: query
          description: >-
            Azimuth for global_tilted_irradiance. North=0, East=90, South=180, West=270.
          schema:
            type: number
            format: float
            default: 0
        - name: cell_selection
          in: query
          description: >-
            Grid cell selection preference: land, sea, or nearest.
          schema:
            type: string
            enum: [land, sea, nearest]
        - name: apikey
          in: query
          description: >-
            Only required for commercial subscriptions.
          schema:
            type: string
        - name: models
          in: query
          description: Manually select one or more weather models.
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - arpae_cosmo_seamless
                - arpae_cosmo_2i
                - arpae_cosmo_5m
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  latitude:
                    type: number
                    format: float
                  longitude:
                    type: number
                    format: float
                  elevation:
                    type: number
                    format: float
                  generationtime_ms:
                    type: number
                    format: float
                  utc_offset_seconds:
                    type: integer
                  timezone:
                    type: string
                  timezone_abbreviation:
                    type: string
                  hourly:
                    type: object
                  hourly_units:
                    type: object
                    additionalProperties:
                      type: string
                  daily:
                    type: object
                  daily_units:
                    type: object
                    additionalProperties:
                      type: string
                  current:
                    type: object
                  current_units:
                    type: object
                    additionalProperties:
                      type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  reason:
                    type: string
