openapi: '3.1.0'
info:
  title: Open-Meteo Ensemble Weather Forecast API
  description: >-
    Ensemble weather forecasts from multiple models providing probabilistic forecast data.
  version: '1.0'
  contact:
    name: Open-Meteo
    url: https://open-meteo.com
    email: info@open-meteo.com
  license:
    name: Attribution 4.0 International (CC BY 4.0)
    url: https://creativecommons.org/licenses/by/4.0/
  termsOfService: https://open-meteo.com/en/features#terms
paths:
  /v1/ensemble:
    servers:
      - url: https://ensemble-api.open-meteo.com
      - url: https://customer-ensemble-api.open-meteo.com
    get:
      tags:
        - Ensemble Forecast APIs
      summary: Open-Meteo Ensemble Weather Forecast API
      description: >-
        Ensemble weather forecasts from multiple models providing probabilistic forecast data.
      parameters:
        - name: latitude
          in: query
          required: true
          description: >-
            Geographical WGS84 coordinates. Multiple coordinates can be comma separated.
          schema:
            type: string
        - name: longitude
          in: query
          required: true
          schema:
            type: string
        - name: hourly
          in: query
          description: >-
            A list of weather variables which should be returned.
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - temperature_2m
                - relative_humidity_2m
                - dew_point_2m
                - apparent_temperature
                - precipitation
                - rain
                - snowfall
                - snow_depth
                - weather_code
                - pressure_msl
                - surface_pressure
                - cloud_cover
                - cloud_cover_low
                - cloud_cover_mid
                - cloud_cover_high
                - visibility
                - et0_fao_evapotranspiration
                - vapour_pressure_deficit
                - wind_speed_10m
                - wind_speed_80m
                - wind_speed_100m
                - wind_speed_120m
                - wind_direction_10m
                - wind_direction_80m
                - wind_direction_100m
                - wind_direction_120m
                - wind_gusts_10m
                - temperature_80m
                - temperature_120m
                - surface_temperature
                - soil_temperature_0_to_10cm
                - soil_temperature_10_to_40cm
                - soil_temperature_40_to_100cm
                - soil_temperature_100_to_200cm
                - soil_moisture_0_to_10cm
                - soil_moisture_10_to_40cm
                - soil_moisture_40_to_100cm
                - soil_moisture_100_to_200cm
                - soil_temperature_0_to_7cm
                - soil_temperature_7_to_28cm
                - soil_temperature_28_to_100cm
                - soil_temperature_100_to_255cm
                - soil_moisture_0_to_7cm
                - soil_moisture_7_to_28cm
                - soil_moisture_28_to_100cm
                - soil_moisture_100_to_255cm
                - is_day
                - uv_index
                - uv_index_clear_sky
                - temperature_2m_min
                - temperature_2m_max
                - wet_bulb_temperature_2m
                - cape
                - convective_inhibition
                - freezing_level_height
                - snowfall_height
                - sunshine_duration
                - snowfall_water_equivalent
                - snow_depth_water_equivalent
                - boundary_layer_height
                - shortwave_radiation
                - direct_radiation
                - diffuse_radiation
                - direct_normal_irradiance
                - global_tilted_irradiance
                - shortwave_radiation_instant
                - direct_radiation_instant
                - diffuse_radiation_instant
                - direct_normal_irradiance_instant
                - global_tilted_irradiance_instant
                - temperature_1000hPa
                - temperature_925hPa
                - temperature_850hPa
                - temperature_700hPa
                - temperature_600hPa
                - temperature_500hPa
                - temperature_400hPa
                - temperature_300hPa
                - temperature_250hPa
                - temperature_200hPa
                - temperature_150hPa
                - temperature_100hPa
                - temperature_50hPa
                - relative_humidity_1000hPa
                - relative_humidity_925hPa
                - relative_humidity_850hPa
                - relative_humidity_700hPa
                - relative_humidity_600hPa
                - relative_humidity_500hPa
                - relative_humidity_400hPa
                - relative_humidity_300hPa
                - relative_humidity_250hPa
                - relative_humidity_200hPa
                - relative_humidity_150hPa
                - relative_humidity_100hPa
                - relative_humidity_50hPa
                - dew_point_1000hPa
                - dew_point_925hPa
                - dew_point_850hPa
                - dew_point_700hPa
                - dew_point_600hPa
                - dew_point_500hPa
                - dew_point_400hPa
                - dew_point_300hPa
                - dew_point_250hPa
                - dew_point_200hPa
                - dew_point_150hPa
                - dew_point_100hPa
                - dew_point_50hPa
                - cloud_cover_1000hPa
                - cloud_cover_925hPa
                - cloud_cover_850hPa
                - cloud_cover_700hPa
                - cloud_cover_600hPa
                - cloud_cover_500hPa
                - cloud_cover_400hPa
                - cloud_cover_300hPa
                - cloud_cover_250hPa
                - cloud_cover_200hPa
                - cloud_cover_150hPa
                - cloud_cover_100hPa
                - cloud_cover_50hPa
                - wind_speed_1000hPa
                - wind_speed_925hPa
                - wind_speed_850hPa
                - wind_speed_700hPa
                - wind_speed_600hPa
                - wind_speed_500hPa
                - wind_speed_400hPa
                - wind_speed_300hPa
                - wind_speed_250hPa
                - wind_speed_200hPa
                - wind_speed_150hPa
                - wind_speed_100hPa
                - wind_speed_50hPa
                - wind_direction_1000hPa
                - wind_direction_925hPa
                - wind_direction_850hPa
                - wind_direction_700hPa
                - wind_direction_600hPa
                - wind_direction_500hPa
                - wind_direction_400hPa
                - wind_direction_300hPa
                - wind_direction_250hPa
                - wind_direction_200hPa
                - wind_direction_150hPa
                - wind_direction_100hPa
                - wind_direction_50hPa
                - vertical_velocity_1000hPa
                - vertical_velocity_925hPa
                - vertical_velocity_850hPa
                - vertical_velocity_700hPa
                - vertical_velocity_600hPa
                - vertical_velocity_500hPa
                - vertical_velocity_400hPa
                - vertical_velocity_300hPa
                - vertical_velocity_250hPa
                - vertical_velocity_200hPa
                - vertical_velocity_150hPa
                - vertical_velocity_100hPa
                - vertical_velocity_50hPa
                - geopotential_height_1000hPa
                - geopotential_height_925hPa
                - geopotential_height_850hPa
                - geopotential_height_700hPa
                - geopotential_height_600hPa
                - geopotential_height_500hPa
                - geopotential_height_400hPa
                - geopotential_height_300hPa
                - geopotential_height_250hPa
                - geopotential_height_200hPa
                - geopotential_height_150hPa
                - geopotential_height_100hPa
                - geopotential_height_50hPa
        - name: daily
          in: query
          description: >-
            A list of daily weather variable aggregations.
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - temperature_2m_mean
                - temperature_2m_min
                - temperature_2m_max
                - apparent_temperature_mean
                - apparent_temperature_min
                - apparent_temperature_max
                - wind_speed_10m_mean
                - wind_speed_10m_min
                - wind_speed_10m_max
                - wind_direction_10m_dominant
                - wind_gusts_10m_mean
                - wind_gusts_10m_min
                - wind_gusts_10m_max
                - wind_speed_100m_mean
                - wind_speed_100m_min
                - wind_speed_100m_max
                - wind_direction_100m_dominant
                - cloud_cover_mean
                - cloud_cover_min
                - cloud_cover_max
                - precipitation_sum
                - precipitation_hours
                - rain_sum
                - snowfall_sum
                - pressure_msl_mean
                - pressure_msl_min
                - pressure_msl_max
                - surface_pressure_mean
                - surface_pressure_min
                - surface_pressure_max
                - relative_humidity_2m_mean
                - relative_humidity_2m_min
                - relative_humidity_2m_max
                - cape_mean
                - cape_min
                - cape_max
                - dew_point_2m_mean
                - dew_point_2m_min
                - dew_point_2m_max
                - et0_fao_evapotranspiration
                - shortwave_radiation_sum
        - name: elevation
          in: query
          schema:
            type: number
            format: float
        - name: temperature_unit
          in: query
          schema:
            type: string
            default: celsius
            enum: [celsius, fahrenheit]
        - name: wind_speed_unit
          in: query
          schema:
            type: string
            default: kmh
            enum: [kmh, ms, mph, kn]
        - name: precipitation_unit
          in: query
          schema:
            type: string
            default: mm
            enum: [mm, inch]
        - name: timeformat
          in: query
          description: >-
            If format unixtime is selected, all time values are returned in UNIX epoch time.
          schema:
            type: string
            default: iso8601
            enum: [iso8601, unixtime]
        - name: timezone
          in: query
          description: >-
            Any IANA time zone name is supported. Use auto to resolve the local time zone.
          schema:
            type: string
        - name: past_days
          in: query
          description: >-
            Return past days of data.
          schema:
            type: integer
            default: 0
            minimum: 0
            maximum: 92
        - name: forecast_days
          in: query
          description: >-
            Number of forecast days.
          schema:
            type: integer
            default: 7
            minimum: 0
            maximum: 35
        - name: past_hours
          in: query
          schema:
            type: integer
        - name: forecast_hours
          in: query
          schema:
            type: integer
        - name: start_date
          in: query
          description: >-
            Start date of the time interval in ISO 8601 format.
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          description: >-
            End date of the time interval in ISO 8601 format.
          schema:
            type: string
            format: date
        - name: tilt
          in: query
          description: >-
            Slope tilt in degrees for global_tilted_irradiance calculation.
          schema:
            type: number
            format: float
            default: 0
        - name: azimuth
          in: query
          description: >-
            Azimuth for global_tilted_irradiance. North=0, East=90, South=180, West=270.
          schema:
            type: number
            format: float
            default: 0
        - name: cell_selection
          in: query
          description: >-
            Grid cell selection preference: land, sea, or nearest.
          schema:
            type: string
            enum: [land, sea, nearest]
        - name: apikey
          in: query
          description: >-
            Only required for commercial subscriptions.
          schema:
            type: string
        - name: models
          in: query
          description: Manually select one or more weather models.
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - icon_seamless
                - icon_global
                - icon_eu
                - icon_d2
                - ecmwf_ifs04
                - ecmwf_ifs025
                - gfs_seamless
                - gfs025
                - gfs05
                - gem_global_ensemble
                - bom_access_global_ensemble
                - ncep_gefs025
                - ukmo_global_ensemble_20km
        - name: temporal_resolution
          in: query
          description: >-
            Aggregate data into larger time intervals. Supported: hourly, 3_hourly,
            6_hourly, 12_hourly, daily.
          schema:
            type: string
            enum: [hourly, 3_hourly, 6_hourly, 12_hourly, daily]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  latitude:
                    type: number
                    format: float
                  longitude:
                    type: number
                    format: float
                  elevation:
                    type: number
                    format: float
                  generationtime_ms:
                    type: number
                    format: float
                  utc_offset_seconds:
                    type: integer
                  timezone:
                    type: string
                  timezone_abbreviation:
                    type: string
                  hourly:
                    type: object
                    properties:
                      time:
                        type: array
                        items:
                          type: string
                      temperature_2m:
                        type: array
                        items:
                          type: number
                          format: float
                      relative_humidity_2m:
                        type: array
                        items:
                          type: number
                          format: float
                      dew_point_2m:
                        type: array
                        items:
                          type: number
                          format: float
                      apparent_temperature:
                        type: array
                        items:
                          type: number
                          format: float
                      precipitation:
                        type: array
                        items:
                          type: number
                          format: float
                      rain:
                        type: array
                        items:
                          type: number
                          format: float
                      snowfall:
                        type: array
                        items:
                          type: number
                          format: float
                      snow_depth:
                        type: array
                        items:
                          type: number
                          format: float
                      weather_code:
                        type: array
                        items:
                          type: integer
                      pressure_msl:
                        type: array
                        items:
                          type: number
                          format: float
                      surface_pressure:
                        type: array
                        items:
                          type: number
                          format: float
                      cloud_cover:
                        type: array
                        items:
                          type: number
                          format: float
                      cloud_cover_low:
                        type: array
                        items:
                          type: number
                          format: float
                      cloud_cover_mid:
                        type: array
                        items:
                          type: number
                          format: float
                      cloud_cover_high:
                        type: array
                        items:
                          type: number
                          format: float
                      visibility:
                        type: array
                        items:
                          type: number
                          format: float
                      et0_fao_evapotranspiration:
                        type: array
                        items:
                          type: number
                          format: float
                      vapour_pressure_deficit:
                        type: array
                        items:
                          type: number
                          format: float
                      wind_speed_10m:
                        type: array
                        items:
                          type: number
                          format: float
                      wind_speed_80m:
                        type: array
                        items:
                          type: number
                          format: float
                      wind_speed_100m:
                        type: array
                        items:
                          type: number
                          format: float
                      wind_speed_120m:
                        type: array
                        items:
                          type: number
                          format: float
                      wind_direction_10m:
                        type: array
                        items:
                          type: number
                          format: float
                      wind_direction_80m:
                        type: array
                        items:
                          type: number
                          format: float
                      wind_direction_100m:
                        type: array
                        items:
                          type: number
                          format: float
                      wind_direction_120m:
                        type: array
                        items:
                          type: number
                          format: float
                      wind_gusts_10m:
                        type: array
                        items:
                          type: number
                          format: float
                      temperature_80m:
                        type: array
                        items:
                          type: number
                          format: float
                      temperature_120m:
                        type: array
                        items:
                          type: number
                          format: float
                      surface_temperature:
                        type: array
                        items:
                          type: number
                          format: float
                      soil_temperature_0_to_10cm:
                        type: array
                        items:
                          type: number
                          format: float
                      soil_temperature_10_to_40cm:
                        type: array
                        items:
                          type: number
                          format: float
                      soil_temperature_40_to_100cm:
                        type: array
                        items:
                          type: number
                          format: float
                      soil_temperature_100_to_200cm:
                        type: array
                        items:
                          type: number
                          format: float
                      soil_moisture_0_to_10cm:
                        type: array
                        items:
                          type: number
                          format: float
                      soil_moisture_10_to_40cm:
                        type: array
                        items:
                          type: number
                          format: float
                      soil_moisture_40_to_100cm:
                        type: array
                        items:
                          type: number
                          format: float
                      soil_moisture_100_to_200cm:
                        type: array
                        items:
                          type: number
                          format: float
                      soil_temperature_0_to_7cm:
                        type: array
                        items:
                          type: number
                          format: float
                      soil_temperature_7_to_28cm:
                        type: array
                        items:
                          type: number
                          format: float
                      soil_temperature_28_to_100cm:
                        type: array
                        items:
                          type: number
                          format: float
                      soil_temperature_100_to_255cm:
                        type: array
                        items:
                          type: number
                          format: float
                      soil_moisture_0_to_7cm:
                        type: array
                        items:
                          type: number
                          format: float
                      soil_moisture_7_to_28cm:
                        type: array
                        items:
                          type: number
                          format: float
                      soil_moisture_28_to_100cm:
                        type: array
                        items:
                          type: number
                          format: float
                      soil_moisture_100_to_255cm:
                        type: array
                        items:
                          type: number
                          format: float
                      is_day:
                        type: array
                        items:
                          type: integer
                      uv_index:
                        type: array
                        items:
                          type: number
                          format: float
                      uv_index_clear_sky:
                        type: array
                        items:
                          type: number
                          format: float
                      temperature_2m_min:
                        type: array
                        items:
                          type: number
                          format: float
                      temperature_2m_max:
                        type: array
                        items:
                          type: number
                          format: float
                      wet_bulb_temperature_2m:
                        type: array
                        items:
                          type: number
                          format: float
                      cape:
                        type: array
                        items:
                          type: number
                          format: float
                      convective_inhibition:
                        type: array
                        items:
                          type: number
                          format: float
                      freezing_level_height:
                        type: array
                        items:
                          type: number
                          format: float
                      snowfall_height:
                        type: array
                        items:
                          type: number
                          format: float
                      sunshine_duration:
                        type: array
                        items:
                          type: number
                          format: float
                      snowfall_water_equivalent:
                        type: array
                        items:
                          type: number
                          format: float
                      snow_depth_water_equivalent:
                        type: array
                        items:
                          type: number
                          format: float
                      boundary_layer_height:
                        type: array
                        items:
                          type: number
                          format: float
                      shortwave_radiation:
                        type: array
                        items:
                          type: number
                          format: float
                      direct_radiation:
                        type: array
                        items:
                          type: number
                          format: float
                      diffuse_radiation:
                        type: array
                        items:
                          type: number
                          format: float
                      direct_normal_irradiance:
                        type: array
                        items:
                          type: number
                          format: float
                      global_tilted_irradiance:
                        type: array
                        items:
                          type: number
                          format: float
                      shortwave_radiation_instant:
                        type: array
                        items:
                          type: number
                          format: float
                      direct_radiation_instant:
                        type: array
                        items:
                          type: number
                          format: float
                      diffuse_radiation_instant:
                        type: array
                        items:
                          type: number
                          format: float
                      direct_normal_irradiance_instant:
                        type: array
                        items:
                          type: number
                          format: float
                      global_tilted_irradiance_instant:
                        type: array
                        items:
                          type: number
                          format: float
                      temperature_1000hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      temperature_925hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      temperature_850hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      temperature_700hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      temperature_600hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      temperature_500hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      temperature_400hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      temperature_300hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      temperature_250hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      temperature_200hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      temperature_150hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      temperature_100hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      temperature_50hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      relative_humidity_1000hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      relative_humidity_925hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      relative_humidity_850hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      relative_humidity_700hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      relative_humidity_600hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      relative_humidity_500hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      relative_humidity_400hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      relative_humidity_300hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      relative_humidity_250hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      relative_humidity_200hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      relative_humidity_150hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      relative_humidity_100hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      relative_humidity_50hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      dew_point_1000hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      dew_point_925hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      dew_point_850hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      dew_point_700hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      dew_point_600hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      dew_point_500hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      dew_point_400hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      dew_point_300hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      dew_point_250hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      dew_point_200hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      dew_point_150hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      dew_point_100hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      dew_point_50hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      cloud_cover_1000hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      cloud_cover_925hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      cloud_cover_850hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      cloud_cover_700hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      cloud_cover_600hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      cloud_cover_500hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      cloud_cover_400hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      cloud_cover_300hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      cloud_cover_250hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      cloud_cover_200hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      cloud_cover_150hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      cloud_cover_100hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      cloud_cover_50hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      wind_speed_1000hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      wind_speed_925hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      wind_speed_850hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      wind_speed_700hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      wind_speed_600hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      wind_speed_500hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      wind_speed_400hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      wind_speed_300hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      wind_speed_250hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      wind_speed_200hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      wind_speed_150hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      wind_speed_100hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      wind_speed_50hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      wind_direction_1000hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      wind_direction_925hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      wind_direction_850hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      wind_direction_700hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      wind_direction_600hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      wind_direction_500hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      wind_direction_400hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      wind_direction_300hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      wind_direction_250hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      wind_direction_200hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      wind_direction_150hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      wind_direction_100hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      wind_direction_50hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      vertical_velocity_1000hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      vertical_velocity_925hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      vertical_velocity_850hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      vertical_velocity_700hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      vertical_velocity_600hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      vertical_velocity_500hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      vertical_velocity_400hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      vertical_velocity_300hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      vertical_velocity_250hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      vertical_velocity_200hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      vertical_velocity_150hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      vertical_velocity_100hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      vertical_velocity_50hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      geopotential_height_1000hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      geopotential_height_925hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      geopotential_height_850hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      geopotential_height_700hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      geopotential_height_600hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      geopotential_height_500hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      geopotential_height_400hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      geopotential_height_300hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      geopotential_height_250hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      geopotential_height_200hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      geopotential_height_150hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      geopotential_height_100hPa:
                        type: array
                        items:
                          type: number
                          format: float
                      geopotential_height_50hPa:
                        type: array
                        items:
                          type: number
                          format: float
                  hourly_units:
                    type: object
                    properties:
                      time:
                        type: string
                      temperature_2m:
                        type: string
                      relative_humidity_2m:
                        type: string
                      dew_point_2m:
                        type: string
                      apparent_temperature:
                        type: string
                      precipitation:
                        type: string
                      rain:
                        type: string
                      snowfall:
                        type: string
                      snow_depth:
                        type: string
                      weather_code:
                        type: string
                      pressure_msl:
                        type: string
                      surface_pressure:
                        type: string
                      cloud_cover:
                        type: string
                      cloud_cover_low:
                        type: string
                      cloud_cover_mid:
                        type: string
                      cloud_cover_high:
                        type: string
                      visibility:
                        type: string
                      et0_fao_evapotranspiration:
                        type: string
                      vapour_pressure_deficit:
                        type: string
                      wind_speed_10m:
                        type: string
                      wind_speed_80m:
                        type: string
                      wind_speed_100m:
                        type: string
                      wind_speed_120m:
                        type: string
                      wind_direction_10m:
                        type: string
                      wind_direction_80m:
                        type: string
                      wind_direction_100m:
                        type: string
                      wind_direction_120m:
                        type: string
                      wind_gusts_10m:
                        type: string
                      temperature_80m:
                        type: string
                      temperature_120m:
                        type: string
                      surface_temperature:
                        type: string
                      soil_temperature_0_to_10cm:
                        type: string
                      soil_temperature_10_to_40cm:
                        type: string
                      soil_temperature_40_to_100cm:
                        type: string
                      soil_temperature_100_to_200cm:
                        type: string
                      soil_moisture_0_to_10cm:
                        type: string
                      soil_moisture_10_to_40cm:
                        type: string
                      soil_moisture_40_to_100cm:
                        type: string
                      soil_moisture_100_to_200cm:
                        type: string
                      soil_temperature_0_to_7cm:
                        type: string
                      soil_temperature_7_to_28cm:
                        type: string
                      soil_temperature_28_to_100cm:
                        type: string
                      soil_temperature_100_to_255cm:
                        type: string
                      soil_moisture_0_to_7cm:
                        type: string
                      soil_moisture_7_to_28cm:
                        type: string
                      soil_moisture_28_to_100cm:
                        type: string
                      soil_moisture_100_to_255cm:
                        type: string
                      is_day:
                        type: string
                      uv_index:
                        type: string
                      uv_index_clear_sky:
                        type: string
                      temperature_2m_min:
                        type: string
                      temperature_2m_max:
                        type: string
                      wet_bulb_temperature_2m:
                        type: string
                      cape:
                        type: string
                      convective_inhibition:
                        type: string
                      freezing_level_height:
                        type: string
                      snowfall_height:
                        type: string
                      sunshine_duration:
                        type: string
                      snowfall_water_equivalent:
                        type: string
                      snow_depth_water_equivalent:
                        type: string
                      boundary_layer_height:
                        type: string
                      shortwave_radiation:
                        type: string
                      direct_radiation:
                        type: string
                      diffuse_radiation:
                        type: string
                      direct_normal_irradiance:
                        type: string
                      global_tilted_irradiance:
                        type: string
                      shortwave_radiation_instant:
                        type: string
                      direct_radiation_instant:
                        type: string
                      diffuse_radiation_instant:
                        type: string
                      direct_normal_irradiance_instant:
                        type: string
                      global_tilted_irradiance_instant:
                        type: string
                      temperature_1000hPa:
                        type: string
                      temperature_925hPa:
                        type: string
                      temperature_850hPa:
                        type: string
                      temperature_700hPa:
                        type: string
                      temperature_600hPa:
                        type: string
                      temperature_500hPa:
                        type: string
                      temperature_400hPa:
                        type: string
                      temperature_300hPa:
                        type: string
                      temperature_250hPa:
                        type: string
                      temperature_200hPa:
                        type: string
                      temperature_150hPa:
                        type: string
                      temperature_100hPa:
                        type: string
                      temperature_50hPa:
                        type: string
                      relative_humidity_1000hPa:
                        type: string
                      relative_humidity_925hPa:
                        type: string
                      relative_humidity_850hPa:
                        type: string
                      relative_humidity_700hPa:
                        type: string
                      relative_humidity_600hPa:
                        type: string
                      relative_humidity_500hPa:
                        type: string
                      relative_humidity_400hPa:
                        type: string
                      relative_humidity_300hPa:
                        type: string
                      relative_humidity_250hPa:
                        type: string
                      relative_humidity_200hPa:
                        type: string
                      relative_humidity_150hPa:
                        type: string
                      relative_humidity_100hPa:
                        type: string
                      relative_humidity_50hPa:
                        type: string
                      dew_point_1000hPa:
                        type: string
                      dew_point_925hPa:
                        type: string
                      dew_point_850hPa:
                        type: string
                      dew_point_700hPa:
                        type: string
                      dew_point_600hPa:
                        type: string
                      dew_point_500hPa:
                        type: string
                      dew_point_400hPa:
                        type: string
                      dew_point_300hPa:
                        type: string
                      dew_point_250hPa:
                        type: string
                      dew_point_200hPa:
                        type: string
                      dew_point_150hPa:
                        type: string
                      dew_point_100hPa:
                        type: string
                      dew_point_50hPa:
                        type: string
                      cloud_cover_1000hPa:
                        type: string
                      cloud_cover_925hPa:
                        type: string
                      cloud_cover_850hPa:
                        type: string
                      cloud_cover_700hPa:
                        type: string
                      cloud_cover_600hPa:
                        type: string
                      cloud_cover_500hPa:
                        type: string
                      cloud_cover_400hPa:
                        type: string
                      cloud_cover_300hPa:
                        type: string
                      cloud_cover_250hPa:
                        type: string
                      cloud_cover_200hPa:
                        type: string
                      cloud_cover_150hPa:
                        type: string
                      cloud_cover_100hPa:
                        type: string
                      cloud_cover_50hPa:
                        type: string
                      wind_speed_1000hPa:
                        type: string
                      wind_speed_925hPa:
                        type: string
                      wind_speed_850hPa:
                        type: string
                      wind_speed_700hPa:
                        type: string
                      wind_speed_600hPa:
                        type: string
                      wind_speed_500hPa:
                        type: string
                      wind_speed_400hPa:
                        type: string
                      wind_speed_300hPa:
                        type: string
                      wind_speed_250hPa:
                        type: string
                      wind_speed_200hPa:
                        type: string
                      wind_speed_150hPa:
                        type: string
                      wind_speed_100hPa:
                        type: string
                      wind_speed_50hPa:
                        type: string
                      wind_direction_1000hPa:
                        type: string
                      wind_direction_925hPa:
                        type: string
                      wind_direction_850hPa:
                        type: string
                      wind_direction_700hPa:
                        type: string
                      wind_direction_600hPa:
                        type: string
                      wind_direction_500hPa:
                        type: string
                      wind_direction_400hPa:
                        type: string
                      wind_direction_300hPa:
                        type: string
                      wind_direction_250hPa:
                        type: string
                      wind_direction_200hPa:
                        type: string
                      wind_direction_150hPa:
                        type: string
                      wind_direction_100hPa:
                        type: string
                      wind_direction_50hPa:
                        type: string
                      vertical_velocity_1000hPa:
                        type: string
                      vertical_velocity_925hPa:
                        type: string
                      vertical_velocity_850hPa:
                        type: string
                      vertical_velocity_700hPa:
                        type: string
                      vertical_velocity_600hPa:
                        type: string
                      vertical_velocity_500hPa:
                        type: string
                      vertical_velocity_400hPa:
                        type: string
                      vertical_velocity_300hPa:
                        type: string
                      vertical_velocity_250hPa:
                        type: string
                      vertical_velocity_200hPa:
                        type: string
                      vertical_velocity_150hPa:
                        type: string
                      vertical_velocity_100hPa:
                        type: string
                      vertical_velocity_50hPa:
                        type: string
                      geopotential_height_1000hPa:
                        type: string
                      geopotential_height_925hPa:
                        type: string
                      geopotential_height_850hPa:
                        type: string
                      geopotential_height_700hPa:
                        type: string
                      geopotential_height_600hPa:
                        type: string
                      geopotential_height_500hPa:
                        type: string
                      geopotential_height_400hPa:
                        type: string
                      geopotential_height_300hPa:
                        type: string
                      geopotential_height_250hPa:
                        type: string
                      geopotential_height_200hPa:
                        type: string
                      geopotential_height_150hPa:
                        type: string
                      geopotential_height_100hPa:
                        type: string
                      geopotential_height_50hPa:
                        type: string
                  daily:
                    type: object
                    properties:
                      time:
                        type: array
                        items:
                          type: string
                      temperature_2m_mean:
                        type: array
                        items:
                          type: number
                          format: float
                      temperature_2m_min:
                        type: array
                        items:
                          type: number
                          format: float
                      temperature_2m_max:
                        type: array
                        items:
                          type: number
                          format: float
                      apparent_temperature_mean:
                        type: array
                        items:
                          type: number
                          format: float
                      apparent_temperature_min:
                        type: array
                        items:
                          type: number
                          format: float
                      apparent_temperature_max:
                        type: array
                        items:
                          type: number
                          format: float
                      wind_speed_10m_mean:
                        type: array
                        items:
                          type: number
                          format: float
                      wind_speed_10m_min:
                        type: array
                        items:
                          type: number
                          format: float
                      wind_speed_10m_max:
                        type: array
                        items:
                          type: number
                          format: float
                      wind_direction_10m_dominant:
                        type: array
                        items:
                          type: number
                          format: float
                      wind_gusts_10m_mean:
                        type: array
                        items:
                          type: number
                          format: float
                      wind_gusts_10m_min:
                        type: array
                        items:
                          type: number
                          format: float
                      wind_gusts_10m_max:
                        type: array
                        items:
                          type: number
                          format: float
                      wind_speed_100m_mean:
                        type: array
                        items:
                          type: number
                          format: float
                      wind_speed_100m_min:
                        type: array
                        items:
                          type: number
                          format: float
                      wind_speed_100m_max:
                        type: array
                        items:
                          type: number
                          format: float
                      wind_direction_100m_dominant:
                        type: array
                        items:
                          type: number
                          format: float
                      cloud_cover_mean:
                        type: array
                        items:
                          type: number
                          format: float
                      cloud_cover_min:
                        type: array
                        items:
                          type: number
                          format: float
                      cloud_cover_max:
                        type: array
                        items:
                          type: number
                          format: float
                      precipitation_sum:
                        type: array
                        items:
                          type: number
                          format: float
                      precipitation_hours:
                        type: array
                        items:
                          type: number
                          format: float
                      rain_sum:
                        type: array
                        items:
                          type: number
                          format: float
                      snowfall_sum:
                        type: array
                        items:
                          type: number
                          format: float
                      pressure_msl_mean:
                        type: array
                        items:
                          type: number
                          format: float
                      pressure_msl_min:
                        type: array
                        items:
                          type: number
                          format: float
                      pressure_msl_max:
                        type: array
                        items:
                          type: number
                          format: float
                      surface_pressure_mean:
                        type: array
                        items:
                          type: number
                          format: float
                      surface_pressure_min:
                        type: array
                        items:
                          type: number
                          format: float
                      surface_pressure_max:
                        type: array
                        items:
                          type: number
                          format: float
                      relative_humidity_2m_mean:
                        type: array
                        items:
                          type: number
                          format: float
                      relative_humidity_2m_min:
                        type: array
                        items:
                          type: number
                          format: float
                      relative_humidity_2m_max:
                        type: array
                        items:
                          type: number
                          format: float
                      cape_mean:
                        type: array
                        items:
                          type: number
                          format: float
                      cape_min:
                        type: array
                        items:
                          type: number
                          format: float
                      cape_max:
                        type: array
                        items:
                          type: number
                          format: float
                      dew_point_2m_mean:
                        type: array
                        items:
                          type: number
                          format: float
                      dew_point_2m_min:
                        type: array
                        items:
                          type: number
                          format: float
                      dew_point_2m_max:
                        type: array
                        items:
                          type: number
                          format: float
                      et0_fao_evapotranspiration:
                        type: array
                        items:
                          type: number
                          format: float
                      shortwave_radiation_sum:
                        type: array
                        items:
                          type: number
                          format: float
                  daily_units:
                    type: object
                    properties:
                      time:
                        type: string
                      temperature_2m_mean:
                        type: string
                      temperature_2m_min:
                        type: string
                      temperature_2m_max:
                        type: string
                      apparent_temperature_mean:
                        type: string
                      apparent_temperature_min:
                        type: string
                      apparent_temperature_max:
                        type: string
                      wind_speed_10m_mean:
                        type: string
                      wind_speed_10m_min:
                        type: string
                      wind_speed_10m_max:
                        type: string
                      wind_direction_10m_dominant:
                        type: string
                      wind_gusts_10m_mean:
                        type: string
                      wind_gusts_10m_min:
                        type: string
                      wind_gusts_10m_max:
                        type: string
                      wind_speed_100m_mean:
                        type: string
                      wind_speed_100m_min:
                        type: string
                      wind_speed_100m_max:
                        type: string
                      wind_direction_100m_dominant:
                        type: string
                      cloud_cover_mean:
                        type: string
                      cloud_cover_min:
                        type: string
                      cloud_cover_max:
                        type: string
                      precipitation_sum:
                        type: string
                      precipitation_hours:
                        type: string
                      rain_sum:
                        type: string
                      snowfall_sum:
                        type: string
                      pressure_msl_mean:
                        type: string
                      pressure_msl_min:
                        type: string
                      pressure_msl_max:
                        type: string
                      surface_pressure_mean:
                        type: string
                      surface_pressure_min:
                        type: string
                      surface_pressure_max:
                        type: string
                      relative_humidity_2m_mean:
                        type: string
                      relative_humidity_2m_min:
                        type: string
                      relative_humidity_2m_max:
                        type: string
                      cape_mean:
                        type: string
                      cape_min:
                        type: string
                      cape_max:
                        type: string
                      dew_point_2m_mean:
                        type: string
                      dew_point_2m_min:
                        type: string
                      dew_point_2m_max:
                        type: string
                      et0_fao_evapotranspiration:
                        type: string
                      shortwave_radiation_sum:
                        type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                  reason:
                    type: string
