on:
    workflow_dispatch:

name: Build ubuntu package Parquet

env:
    swift_package_resolve: ENABLE_PARQUET=TRUE swift package resolve
    swift_build: ENABLE_PARQUET=TRUE MARCH_SKYLAKE=TRUE swift build -c release -Xswiftc -g -Xswiftc -static-stdlib
    swift_test: swift test
    cache_version: 2
  
jobs:
    linux:
      runs-on: ubuntu-22.04
      container: ghcr.io/open-meteo/docker-container-build:latest
      name: Linux
      steps:
      - name: Get Swift Version
        id: get-swift-version
        run: echo "version=$(swift -version | head -n 1 | sed s/,// )" >> $GITHUB_OUTPUT
        shell: bash
      - uses: actions/checkout@v4
      - name: Copy Swift Backtrace
        run: cp /usr/libexec/swift/linux/swift-backtrace-static ./swift-backtrace
      - name: Cache resolved dependencies
        id: cache-resolved-dependencies
        uses: actions/cache@v4
        with:
          path: |
            .build
            Package.resolved
          key: ${{ runner.os }}-${{ steps.get-swift-version.outputs.version }}-${{ env.cache_version }}-spm-deps-${{ hashFiles('Package.swift', 'Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-${{ steps.get-swift-version.outputs.version }}-${{ env.cache_version }}-spm-deps-
      - name: Resolve dependencies
        if: steps.cache-resolved-dependencies.outputs.cache-hit != 'true'
        run: ${{ env.swift_package_resolve }}
      - name: Install Parquet
        run: |
            apt update
            apt install -y -V ca-certificates lsb-release wget
            wget https://apache.jfrog.io/artifactory/arrow/$(lsb_release --id --short | tr 'A-Z' 'a-z')/apache-arrow-apt-source-latest-$(lsb_release --codename --short).deb
            apt install -y -V ./apache-arrow-apt-source-latest-$(lsb_release --codename --short).deb
            apt update
            apt install -y -V libarrow-glib-dev libparquet-glib-dev
      - name: Build
        run: |
          ${{ env.swift_build }}
          mkdir Resources
          cp .build/release/openmeteo-api openmeteo-api
          cp -r .build/release/*.resources Resources/
      - name: Package
        uses: gravitl/github-action-fpm@master
        with:
          fpm_args: './build'
          # -d swiftlang-slim -d libeccodes0
          fpm_opts: '-s dir -t deb -n openmeteo-api -v 0.0.0 -d libnetcdf19 -d libeccodes0 -d libarrow-glib-dev -d libparquet-glib-dev --deb-systemd-enable --deb-systemd-auto-start --deb-systemd build/openmeteo-sync.service --deb-systemd build/openmeteo-api.service  --deb-systemd build/openmeteo-api2.service  --deb-systemd build/openmeteo-api3.service --deb-systemd build/openmeteo-notify@.service --deb-default build/openmeteo-api.env --before-install build/openmeteo-before-install.sh --before-upgrade build/openmeteo-before-install.sh build/openmeteo-notify.sh=/usr/local/bin/ openmeteo-api=/usr/local/bin/ swift-backtrace=/usr/local/bin/ Public=/var/lib/openmeteo-api Resources=/var/lib/openmeteo-api'
      - name: Rename deb file
        run: mv openmeteo-api_0.0.0_amd64.deb openmeteo-api_0.0.0_jammy_amd64.deb
      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v4
        with:
          name: openmeteo-api_0.0.0_jammy_amd64.deb
          path: openmeteo-api_0.0.0_jammy_amd64.deb
          retention-days: 14