name: Build Docker Image

on:
  push:
    tags:
      - '*.*.*'
#  pull_request:
#    branches:
#      - main

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  push_to_registry:
    name: Build Docker Image
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - arch: arm64
            variant: v8
          - arch: amd64
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
      #- name: Set up QEMU
      #  uses: docker/setup-qemu-action@v3
      #  with:
      #    platforms: |
      #      amd64
      #      arm64
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: ${{ matrix.platform }}
          #platforms: |
          #  linux/amd64
          #  linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
